<div class="row row-centered">
	<div class="newUI col-md-4 col-xs-10 col-centered">
		<div class="logform">
		<h1>Editing Profile</h1>

		<%= image_tag @profile.avatar.url(:medium) %>
		<%= render 'form' %>

		<%= link_to 'Back', user_path(current_user)  %>
		</div>
	</div>
</div>