<% if user_signed_in? %>

	<% if current_user.profile.nil? %>
		<p> WELCOME TO TINDER. You must go to Your Profile and create one with your name, age, interest, etc. After that you can Find Friends in Tinder!</p>
	<% else %>
		<div class="centering">
			<h1>Find friends</h1>
			<p>Find people with the same interest</p>

			<% @users.each do |user| %>
			    <% next if user.id == current_user.id %>
			    <% next if user.profile.nil? %>
			    <% next if current_user.likes?(user) %>
			    <%#= link_to (user.email), user_path(user) %> <!-- <br> -->
			    <div class="col-md-4 col-md-offset-4">
				  <div class="thumbnail">
					  <h2 class="text-primary"><%= link_to (user.profile.user_name), user_path(user) %></h2>
					  <%= image_tag user.profile.avatar.url(:medium) %>
					  <p><%= link_to 'Like', like_user_user_path(user) %></p>
				  </div>
				</div>
			<% end %>
		</div>
	<% end %>

<% else %>
	<div class="newUI" style="height: 900px;">
		<div class="centering">
			<img style="margin: auto; padding-top: 100px; width:30%; max-width: 400px;" alt="Tinder" src="logoTinder.svg">
			<br><h3 style="color:white;">Meet people, be friends, have fun.</h3>
			<br>
			<%= link_to "SIGN UP", new_user_registration_path, class: "buttonBig" %>
		</div>
	</div>
<% end %>
