<div class="newUI" style="height: 800px;"> <p style="color: transparent;">New post</p>
<div class="centering">
<h1 style="margin-top: 50px; color: white;">New Post</h1>
	</div>
	<%= render 'form' %>
	<div class="centering">
		<%= link_to 'Back', posts_path%>
	</div>
</div>