@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-url {
	margin-right: 20px;
}
.no-margin-top {
	margin-top: 0px !important;
}
.containerPost {
	color: white;
	width: 50%;
	max-width: 750px;
	background-color: rgba(200, 200, 200, 0.4);
	margin: 3em auto 0 auto;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.4);
	padding: 1em 0;
	text-align: center;
}
.logform {
	background-color: white;
	/*margin: 3em auto 0 auto;*/
	border-radius: 20px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.4);
	padding: 20px;
	margin: 20px auto 30px auto;
	text-align: center;
}
.profile{
	/*background-color: #f05f40;*/
	padding: 20px;
	margin: 30px auto 40px auto;
	color: white;
	background-color: rgba(200, 200, 200, 0.4);
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.4);
}
.profile a{
	color: white;
}
.profile p{
	font-size: 1.3em;
}
.centering {
	margin: 20px;
	text-align: center;
}
.whiteText{
	color: #FFF;
}
#notice {
  color: green;
  text-align: center;
}
.buttonBig {
	font-weight: bold;
	margin: auto;
	font-size: 25px;
	border-radius: 10px;
	padding: 5px;
	border: 5px solid white;
	background-color: transparent;
	color: white;
}
.buttonSmall {
	font-weight: bold;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
	border-radius: 6px;
	padding: 5px;
	display: block;
	border: 3px solid  #F16A53;
	background-color: transparent;
	color: #F16A53;
}
.buttonSmall:hover {
	color: white;
	text-decoration: none;
	background-color:  #F16A53;
}
.buttonBig:hover {
	background-color: white;
	color: #F16A53;
}
.bg{
	background-repeat: no-repeat;
	background-image: url("bg.jpg");
	background-attachment: fixed;
}
.newUI {
	max-width: 100%;
	padding-top: 40px;
}
a {
	color: #F16A53;
	font-weight: bold;
}
a:hover{
	color: black;
	text-decoration: none;
}
.field {
	color: black;
	margin-bottom:5px;
}
.introText{
	padding-top: 100px;
	color: white;
	text-align: center;
}
.bigLogo{
	margin: auto;  
	width:30%; 
	max-width: 400px;
}
.row-centered {
    text-align:center;
}
.col-centered {
	text-align: center;
    display:inline-block;
    float:none;
    text-align:center;    
    margin-right:-4px;
}
.photo {
	position: relative;
    width: 100%;
    padding-bottom : 50%;
	background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.post-photo {
	width: 100%;
}
.profile-container{
	padding: 20px;
	margin: 30px auto 40px auto;
	border-radius: 5px;
	background-color: white;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.4);
}
.profile-display {
	margin-left: 30px !important;
	margin-right: 30px !important;
}
.info-container {
	margin: 20px auto 20px auto;
	width: 100%;
	text-align: left;
	font-size: 1.4em;
}
.big-font {
	font-size: 1.5em;
}
.btn {
	display: inline-block;
	font-weight: bold;
	color: white;
	background-color: #F16A53;
	margin: 10px;
	border: 5px solid #F16A53;
	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.btn:hover {
	background-color: white;
	color: #F16A53;
	transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.users-button {
	display: inline-block;
	font-size: 5em;
	margin: 0 10px;
}
.like-button, .like-button:hover {
	color: #3FD73F !important;
}
.dislike-button, .dislike-button:hover {
	color: #DE3333 !important;
}
.super-like-button,.super-like-button:hover {
	color: #33DEBC !important;
}
.blackText {
	color: black;
}
.post-container {
	margin: 10px;
	padding: 10px;
	background-color: white;
}
.caption {
	text-align: left;
}