@import "bootstrap-sprockets";
@import "bootstrap";

.containerPost {
	color: white;
	width: 50%;
	max-width: 750px;
	background-color: rgba(200, 200, 200, 0.4);
	margin: 3em auto 0 auto;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.4);
	padding: 1em 0;
	text-align: center;
}
.logform {
	color: white;
	background-color: rgba(200, 200, 200, 0.4);
	/*margin: 3em auto 0 auto;*/
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.4);
	padding: 20px;
	margin: 20px auto 0 auto;
	text-align: center;
}
.profile{
	/*background-color: #f05f40;*/
	padding: 20px;
	margin: 20px auto 40px auto;
	color: white;
	background-color: rgba(200, 200, 200, 0.4);
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.4);
}
.profile a{
	color: white;
}
.profile p{
	font-size: 1.3em;
}
.centering {
	margin: 20px;
	text-align: center;
}
.whiteText{
	color: #FFF;
}
#notice {
  color: green;
  text-align: center;
}
.buttonBig {
	font-weight: bold;
	margin: auto;
	font-size: 25px;
	border-radius: 10px;
	padding: 5px;
	border: 5px solid white;
	background-color: transparent;
	color: white;
}
.buttonSmall {
	font-weight: bold;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
	border-radius: 6px;
	padding: 5px;
	display: block;
	border: 3px solid white;
	background-color: transparent;
	color: white;
}
.buttonBig:hover, .buttonSmall:hover {
	color: #F16A53;
	text-decoration: none;
	background-color: white;
}
.newUI {
	height: 900px;
	max-width: 100%;
	padding-top: 40px;
	background-repeat: no-repeat;
	background-image: url("bg.jpg");
	background-attachment: fixed;
	/*background: #FFB0AC;*/
}
a {
	color: #F16A53;
	font-weight: bold;
}
a:hover{
	color: black;
	text-decoration: none;
}
.field {
	color: black;
	margin-bottom:5px;
}
.introText{
	padding-top: 100px;
	color: white;
	text-align: center;
}
.bigLogo{
	margin: auto;  
	width:30%; 
	max-width: 400px;
}
.row-centered {
    text-align:center;
}
.col-centered {
	text-align: center;
    display:inline-block;
    float:none;
    text-align:center;    
    margin-right:-4px;
}